.topic{
    font-family: Poly;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 114px;

    padding-top: 3rem;
}

.subTopic{
    font-family: Poly;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}



.instructions{
    font-family: Poly;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: right;
}

.inputfield{
    width:60vh;
    height: 7vh;
    margin-top: 2rem;
    margin-left: 10rem;
    top: 502px;
    background: #EDEDED;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    padding-left: 3rem;
}
.drop{
    
    width:60vh;
    height: 7vh;
    margin-top: 2rem;
    margin-left: 10rem;
    top: 502px;
    background: #EDEDED;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    padding-left: 3rem;
     
}
.inputfield:hover{
    background: rgba(185, 172, 238, 0.63);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
}

.mailIcon{
    /*position: absolute;*/
    width:60vh;
    /*margin-top: 1rem;*/
    /*margin-left: 10rem;*/
    /*top: 502px;*/

}

.submitbtn{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /*border-radius: 93px;*/
    width: 175px;
    height: 55px;
    margin-top: 2vh;
    text-align: center;
    margin-left: 22rem;

}

.btnTxt{
    font-family: Share;
    font-style: normal;
    font-weight: normal;

}

.rightcontent{
    padding-top : 100pt;
}

